:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: #1a202c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark: #213547;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.card {
  border-radius: 10px;
  min-width: 256px;
  max-width: 300px;
  background-color: #2d3748;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}
.card h3 {
  color: #e2e8f0;
}
#info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-block: 20px;
}
.character-container label {
  color: #a0aec0;
}

.card img {
  height: 256px;
  width: 80%;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.info-line {
  text-align: start;
}

#search-input {
  width: 90%;
  background-color: #2d3748;
  border: 1px solid #4a5568;
  color: #e2e8f0;
  font-size: 1rem; /* 16px - Un tamaño estándar y accesible */
  padding: 0.75rem 1rem;
  border-radius: 6px;
  margin-inline: 6px;
  margin-block: 12px;
}

#search-input:focus {
  outline: none;
  border-color: #6b46c1; /* Color de acento */
  box-shadow: 0 0 0 2px #5a38a3; /* Un brillo sutil */
}

#search-button {
  background-color: #6b46c1;
  color: white;
  border: none;
  font-size: 1rem; /* Mismo tamaño de fuente que el input */
  padding: 0.75rem 1.5rem; /* Ajusta el padding para que se vea bien */
  border-radius: 6px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

img {
  margin: 8px;
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark);
    background-color: var(--light);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */
