.header {
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background: #fff;
}

.logo {
  width: 200px;
}

.bg-img {
  width: 100%;
  height: 400px;
  background: url("assets/bg_login.jpg") no-repeat right center;
  background-size: cover;
  margin: 0 auto;
}
