.navbar {
  background-color: var(--secondary_color);
  margin-bottom: 25px;
}

.list {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  padding: 10px;
  & a {
    color: var(--light_text);
  }
}
