.root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid var(--secondary_color);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.header-container h1 {
  font-size: 2.2rem;
  font-weight: 300;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary_color);
  border: none;
  padding: 0.8em 1.5em;
  border-radius: var(--element-radius);
  color: #ffffff;
  cursor: pointer;
  font-weight: 900;
  transition: all ease 0.2s;
  text-decoration: none;
}
